# Server configurations
PORT=5000

# SMTP Mail Server configurations (e.g. Mailtrap or Gmail)
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=your_smtp_username_here
SMTP_PASS=your_smtp_password_here

# Receiver Email (where you want to get the contact form messages)
RECEIVER_EMAIL=your_email@gmail.com

# Website Owner / Brand Name (used for Auto-Responder email signatures)
SENDER_NAME="Your Name / Brand"
